
/*-------------------------------------------- GENERALS   */

        ul
        {
            list-style: none;
        }
        
        .col ul
        {
            padding: 0;
        }
        
        .booking-icon
        {
            color: darkorange;
            margin-top: 5%;
        }

/*-------------------------------------------- MAIN CONTAINERS   */


        .main-cont
        {
            height: 90vh;
        }

        .main-cont-booking 
        {
            position: relative;
            height: 90vh;
            width: 100vw;
            background: url('../images/200350.jpg');
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .main-cont-booking:before
        {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #434343;
            animation: ani-bg-filter 5s forwards ease-in-out;
            animation-delay: 2s;
        }

 
/*-------------------------------------------- HEADLINES   */
        
        
        .booking-headline
        {
            position: relative;
            font-size: 5.2em;
            margin-bottom: 80px;
            letter-spacing: 3px;
            font-weight: bold;
            margin-top: 6%;
            text-align: center;
/*            color: rgba(255, 255, 255, .6);*/
            color: #fafafa;
        }
        .booking-headline:before 
        {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -.3em;
            transform: translateX(-50%);
            width: 10%;
            height: 7px;
            background: darkorange;
        }
        
        .booking-bottom-headline
        {
            text-align: center;
            font-weight: bolder;
            font-size: 1.55em;
            color: #000;
        }
        
        
/*-------------------------------------------- BUTTONS   */
     
        
        .booking-three-btn
        {
            justify-content: center;
            display: flex;
            align-items: center;
            height: 80px;
            margin-bottom: 20px;
        }
        
        .booking-bottom-btns
        {
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);
            padding: 5px 15px;
            margin-bottom: 2%;
            background: darkorange;
            font-weight: bold;
            border: none;
            border-radius: 2px;
            color: #000;
            transition: .3s;
            cursor: pointer;
        }
        .booking-bottom-btns:hover
        {
            color: #fafafa;
        }
        .booking-middle-btn
        {
            margin-bottom: -.5%;
        }

        .booking-bottom
        {
            margin-top: 20px;
        }

        .booking-btn
        {
            width: 95%;
            height: 100%;
            background: black;
            font-size: 1.6em;
            font-weight: bolder;
            color: rgba(255,255,255,.9);
/*            color: #fafafa;*/
            border-radius: 2px;
            border: solid 3px #fafafa
        }

/*-------------------------------------------- TEXT   */
      
        .txt-center
        {
            text-align: center;
        }
        
        .booking-txt-cont
        {
            font-weight: bolder;
            color: #fafafa;
            text-align: center;
            margin-bottom: 8%;
        }
        
        
/*-------------------------------------------- BOTTOM CONTAINERS   */

        
        .booking-list,
        .booking-txt,
        .booking-img
        {
            position: relative;
            background: #525252;
            width: 95%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            padding: 3%;
            border-radius: 2px;
            box-shadow: .5px .5px 5px rgba(255,255,255,.4);
        }
        
        .booking-img
        {
            position: relative;
            transform: translateY(20%);
            background: #434343;
        }
        
        
/*-------------------------------------------- BOTTOM CONTAINER RIGHT - LIST   */
       

        .booking-list-cont ul
        {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
        }
        
        .booking-list-cont ul li
        {
            margin-bottom: 2.4%;
            
        }
        
        .booking-list-cont ul li .fas
        {
            margin-right: 10px;
            font-size: 1.3em;
        }
        
        .booking-list-item
        {
            display: flex;
            align-items: center;
            font-size: ;
            color: #fafafa;
        }
        .booking-list-item .fas
        {
            margin-right: 5px;
        }
        
/*-------------------------------------------- BOTTOM CONTAINER MIDDLE - PICTURE   */

        
        .booking-img-bg
        {
            width: 90%;
            background: black;
        }
        
        .booking-img-color
        {
            position: absolute;
            top: -20%;
            left: 0;
            background: crimson;
            width: 100%;
            height: 20%;
        }
        .booking-img-color .fa-mobile-alt
        {
            font-size: 2em;
            color: #fafafa;
        }
        
        .booking-img-bg
        {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: url('../images/woman-in-red-sports-bra-beside-woman-in-white-sports-bra-3768710.jpg');
            background-size: cover;
            width: 100%;
            height: 80%;
        }
        
/*-------------------------------------------- ID'S FOR MOBILE NAV SECTION BOTTOM   */

        #booking-nav-mobile
        {
            width: 100%;
            box-shadow: 0px 0px 1px 1px rgba(0,0,0,.2);
            justify-content: space-between;
            align-items: center;
        }

        #booking-nav-cont-mobile
        {
            width: 100%;
            padding: 5%;
        }

/*-------------------------------------------- MEDIA QUERIES   */

        /* Tablet */
        @media only screen and (max-width: 768px) {
            .burger 
            {
                top: 1.5%;
                right: 5%;
            }
            
            .main-cont-booking
            {
                height: auto;
            }
            
            .main-cont
            {
                height: auto;
            }
            
            .booking-headline:before
            {
                width: 15%;
            }

            .booking-icon
            {
                margin: 5% 0;
            }
            
            .fa-mobile-alt
            {
                font-size: 3em;
            }
            
            .booking-bottom
            {
                margin-bottom: 8%;
            }
            .booking-bottom-list-cont ul
            {
                margin-bottom: 10%;
            }
            
            .booking-list
            {
                height: 330px;
                margin-top: 16%
            }
            .booking-img
            {
                height: 600px;
            }
            
            .booking-img
            {
                height: 600px;
                margin-top: -2%;
            }
            
            .booking-middle-btn
            {
                transform: translate(-50%, -50%);
            }

        }    
        
        
        
        /* Mobile Phone */
        @media only screen and (max-width: 576px) {
            
            .booking-headline
            {
                font-size: 3.5em;
                margin-top: 15%;
                margin-bottom: 12%;
            }
            .booking-headline:before
            {
                width: 25%;
            }
            
            .booking-bottom-btns
            {
                margin-top: 5%;
                margin-bottom: 0;
            }
            
            .booking-img
            {
                height: 300px;
            }
            
            .booking-list
            {
                height: 280px;
                margin-top: 17%
            }

            .booking-img
            {
                height: 320px;
                margin-top: -3%;
            }
            
            .booking-middle-btn
            {
                transform: translate(-50%, 0%);
            }
            
            .fa-mobile-alt
            {
                font-size: 2em;
            }
            
        }
        