/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*---------------------------------------------------------   GENERALS   */

        * 
        {
            font-size: 15px;
        }
        
        .uppercase 
        {
            text-transform: uppercase;
        }

        a 
        {
            text-decoration: none;
        }
        
        a:hover
        {
            color: #000;
            text-decoration: none;
        }
        
        

        
/*---------------------------------------------------------   MAIN CONTAINERS   */    
        
        .main-cont 
        {
            height: 90vh;
            width: 100vw;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            overflow: hidden;
            background: url('../images/woman-in-boxing-gloves-with-sports-bra-posing-boxing-style-163351.jpg') center;
            background-size: cover;
        }
        .main-cont:before
        {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #2C5990;
            -webkit-animation: ani-bg-filter-courses 2s forwards ease-in-out;
                    animation: ani-bg-filter-courses 2s forwards ease-in-out;
            -webkit-animation-delay: 1.2s;
                    animation-delay: 1.2s;
        }

        @-webkit-keyframes ani-bg-filter-courses
        {
            to
            {
                opacity: .7;
            }
        }

        @keyframes ani-bg-filter-courses
        {
            to
            {
                opacity: .7;
            }
        }

/*---------------------------------------------------------   HEADLINES   */    
        
        .location-headline
        {
            position: relative;
            font-size: 4em;
            color: #fafafa;
            font-weight: bolder;
            margin-bottom: 40px;
            padding-bottom: 20px;
            word-spacing: 5px;
            letter-spacing: 4px;
        }

        .location-card-headline 
        {
            position: relative;
            font-size: 1.5em;
            font-weight: bolder;
            padding-bottom: 15px;
            color: #000;
        }
        .headline:before 
        {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 5px;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
            width: 20%;
            height: 5px;
            background: darkorange;
        }


/*--------------------------------------------- CARDS   */

        
/*      Card Rows         */
        .location-cards-row
        {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            width: 100%;
        }

        .location-cards-cont 
        {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            border-radius: 2px;
            padding: 0 10%;
        }

        .location-card-cont 
        {
            position: relative;
            margin: 10px 20px;
            background: #525252;
            padding: 15px;
            border-radius: 2px;
            height: 280px;
            width: 243px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            overflow: hidden;
            cursor: pointer;
        }
        
        



/*      Location Card Hover - Slide Up Picture     */
        .location-card-cont:hover .location-card-bg 
        {
            -webkit-transform: translateY(-101%);
                -ms-transform: translateY(-101%);
                    transform: translateY(-101%);
        }
        .location-card-cont:hover .location-card-location 
        {
            opacity: 0;
        }
        
        
        
        
  /*--------------------------------------------- CARD BACKGROUNDS   */
        
        .location-card-bg 
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 85%;
            z-index: 3;
            
            -webkit-transition: .24s;
            
            -o-transition: .24s;
            
            transition: .24s;
            -webkit-transition-delay: .3s;
                 -o-transition-delay: .3s;
                    transition-delay: .3s;
        }
        
        .locations-strength-bg 
        {
            background: url("../images/woman-lifting-two-dumbells-on-both-hands-in-front-of-mirror-1886487.jpg");
            background-size: cover;
        }

        .locations-cardio-bg 
        {
            background: url("../images/victor-freitas-E2FLRJtZx2E-unsplash.jpg") center;
            background-size: cover;
        }
        
        .locations-fitness-bg
        {
            background: url('../images/sven-mieke-optBC2FxCfc-unsplash.jpg') 28%;
            background-size: cover;
        }
        
        .locations-stretch-bg
        {
            background: url('../images/geert-pieters-3RnkZpDqsEI-unsplash.jpg') center;
            background-size: cover;
            -webkit-filter: grayscale(.2);
                    filter: grayscale(.2);
        }
        
        .locations-water-bg
        {
            background: url('../images/person-swimming-on-body-of-water-863988.jpg') center;
            -webkit-filter: grayscale(.5);
                    filter: grayscale(.5);
            background-size: cover;
        }
        
        .locations-activities-bg
        {
            background: url('../images/perry-grone-lbLgFFlADrY-unsplash.jpg') center;
            background-size: cover;
            -webkit-filter: grayscale(.3);
                    filter: grayscale(.3);
        }
        
        
/*--------------------------------------------- SPECIALS - ICONS   */

        
        .specials-cont 
        {
            list-style: none;
            padding: 0;
        }

        .specials 
        {
            margin: 5px 0px;
            color: #fafafa;
        }

        .specials-icon-cont
        {
            margin-right: 12px;
            display: inline-block;
            width: 15px;
            text-align: center;
        }
        
        .specials-icon 
        {
            color: darkorange;
        }
        
        
/*---------------------------------------------  CARD BOTTOM PART    */


/*      Card Button        */
        .location-card-btn 
        {
            padding: 8px 13px;
            font-weight: bolder;
            background: darkorange;
            border: none;
            border-radius: 2px;
            font-size: 1.16em;
            color: #000;
        }

        
/*      Course - Txt            */
        .location-card-location 
        {
            position: absolute;
            width: 100%;
            font-size: 1.2em;
            letter-spacing: 5px;
            bottom: -3%;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
            font-weight: bolder;
            color: #fafafa;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            background: #525252;
            z-index: 3;
            
/*          Transition            */
            -webkit-transition: .1s;
            -o-transition: .1s;
            transition: .1s;
            -webkit-transition-delay: .45s;
                 -o-transition-delay: .45s;
                    transition-delay: .45s;
        }
        

/*      Card Content Slide in ->        */
        .location-card-headline,
        .specials-cont,
        .location-card-btn 
        {
            -webkit-transform: translateX(-180%);
                -ms-transform: translateX(-180%);
                    transform: translateX(-180%);
            /* transition: .2s; */
            opacity: 0;
            
/*          Transition  - Animation for Slide in Content   */
            -webkit-animation: location-card-slide 1s ease forwards;
                    animation: location-card-slide 1s ease forwards;
            -webkit-transition: .1s;
            -o-transition: .1s;
            transition: .1s;
            -webkit-transition-delay: .5s;
                 -o-transition-delay: .5s;
                    transition-delay: .5s;
        }

        
/*      Card Content Slides back Out      */
        .location-card-cont:hover .location-card-headline,
        .location-card-cont:hover .specials-cont,
        .location-card-cont:hover .location-card-btn 
        {
            -webkit-transform: translateX(0);
                -ms-transform: translateX(0);
                    transform: translateX(0);
            opacity: 1;
        }
        
        
/*--------------------------------------------- MEDIA QUERIES   */

        
        @media only screen and (max-width: 768px) 
        {

            .location-headline
            {
                margin-top: 15%;
                color: #fafafa;
            }
            
            .main-cont
            {
                height: auto;
            }
            
            .location-cards-row
            {
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
            }
            
            .location-card-cont
            {
                margin: 1%;
            }

            .mobile-sidebar
            {
                background: #525252;
            }
        }
        
        
        
        @media only screen and (max-width: 576px) 
        {
            
            .location-headline
            {
                margin-top: 15%;
                font-size: 2.5em;
            }
            
            .location-card-cont
            {
                height: auto;
                width: 260px;
                margin: 5px;
            }

            .mobile-footer-contacts
            {
                position: fixed;
                height: 100vh;
                width: 100vw;
                z-index: 9999;
                padding-top: 0;
            }
        }
        
        
        