        
/*--------------------------------------------- GENERALS   */

        
        * 
        {
            font-size: 14px;
        }
        
        .side-bar {
            background: pink;
        }
        
        .uppercase 
        {
            text-transform: uppercase;
        }
        
        a
        {
            text-decoration: none;
        }
        a:hover
        {
            color: #000;
            text-decoration: none;
        }
        
        
/*--------------------------------------------- MAIN CONTAINERS   */


        .main-cont 
        {
            height: 90vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background: url('../images/jesper-aggergaard-n8wuzsypQ1M-unsplash.jpg');
            background-size: cover;
        }
        .main-cont:before
        {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #D76C66;
            background: #9bdc28;
            opacity: .7;
        }

        .location-cards-wrapper
        {
            padding: 0 5%;
        }

        
/*--------------------------------------------- HEADLINES   */

        
        .location-card-headline 
        {
            position: relative;
            font-size: 1.4em;
            color: #000;
            font-weight: bolder;
            padding-bottom: 10px;
            text-transform: capitalize;
        }

        
        
/*      Card Headline    */
        .location-headline
        {
            position: relative;
            font-size: 4em;
            color: #fafafa;
            font-weight: bolder;
            margin-bottom: 40px;
            padding-bottom: 20px;
            word-spacing: 5px;
            letter-spacing: 4px;
            text-align: center;
        }
        .headline:before 
        {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 5px;
            transform: translateX(-50%);
            width: 20%;
            height: 5px;
            background: darkorange;
        }
        

        
/*--------------------------------------------- CARDS    */


        .location-cards-cont 
        {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }


        .location-card-cont 
        {
            position: relative;
            margin: 5px;
            background: #525252;
            padding: 25px;
            border-radius: 2px;
/*            height: 280px;*/
/*            width: 243px;*/
/*            width: 260px;*/
            width: 270px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            overflow: hidden;
            cursor: pointer;
        }
        
/*      Member Color Txt    */
        .member-span 
        {
            color: purple;
            font-weight: bold;
        }
        .member-vip-color 
        {
            color: crimson;
        }
        
        
/*--------------------------------------------- CARDS SPECIALS CONTAINER   */

        
        .specials-cont 
        {
            list-style: none;
            margin: 15px 0;
            padding: 0;
        }

        .specials 
        {
            margin: 5px 0px;
            color: #fafafa;
        }

        .specials-icon-cont
        {
            margin-right: 12px;
            display: inline-block;
            width: 15px;
            text-align: center;
        }
        
        .specials-icon 
        {
            color: darkorange; 
        }

        
/*--------------------------------------------- CARD BACKGROUNDS    */

/*      Hover for Cards Background-Image;          */
        .location-card-cont:hover .location-card-bg 
        {
            transform: translateY(-101%);
        }

        .location-card-cont:hover .location-card-location {
            opacity: 0;
        }

        
        .locations-sauna-bg 
        {
            background: url("../images/adult-beautiful-beauty-erotic-269110.jpg") no-repeat center;
            background-size: cover;
        }
        
        .locations-massage-bg
        {
            background: url('../images/woman-having-facial-3997995.jpg') center;
            background-size: cover;
        }
       
        .locations-pool-bg
        {
            background: url('../images/underwater-photography-of-swimmer-711187.jpg') center;
            background-size: cover;
        }
        
        .locations-bar-bg
        {
            background: url('../images/variety-of-healthy-drinks-on-display-3875431.jpg') center right;
            background-size: cover;
        }
        
        .locations-gym-bg
        {
            background: url('../images/man-and-woman-holding-battle-ropes-1552242.jpg') center;
            background-size: cover;
        }
        
        .locations-virtual-bg
        {
            background: url('../images/man-wearing-white-virtual-reality-goggles-834949.jpg');
            background-size: cover;
        }

        
/*---------------------------------------------  CARD BOTTOM PART    */

        
        .location-card-location 
        {
            position: absolute;
            width: 100%;
            font-size: 1.2em;
            letter-spacing: 5px;
            bottom: -2%;
            left: 50%;
            transform: translateX(-50%);
            font-weight: bolder;
            color: #fafafa;
            background: #525252;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            
            transition: .1s;
            transition-delay: .47s;
        }
        
        .location-card-bg 
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 85%;
            z-index: 3;
            
            transition: .24s;
            transition-delay: .3s;
        }

        
/*      Animation for Slide Card Content      */
        .location-card-headline,
        .specials-cont,
        .location-card-btn 
        {
            transform: translateX(-180%);
            animation: location-card-slide 1s ease forwards;
            opacity: 0;
            
            transition: .1s;
            transition-delay: .5s;
        }

        
/*      Hover for apperar Card Cont       */
        .location-card-cont:hover .location-card-headline,
        .location-card-cont:hover .specials-cont,
        .location-card-cont:hover .location-card-btn 
        {
            transform: translateX(0);
            opacity: 1;
        }
        
        
/*      Card Button      */
        .location-card-btn
        {
            padding: 8px 13px;
            font-weight: bolder;
            background: darkorange;
            border: none;
            border-radius: 2px;
            font-size: 1.16em;
            color: #000;
        }
        
        
        
        
/*``````````````````````````````````````````````````` */
        
        
        /* .nav-arrow-cont
        {
            position: absolute;
            top: 90%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 51px;
        }
        
        .nav-arrow
        {
            width: 60px;
            height: 60px;
            color: #000;
            background: rgba(255,255,255,1);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            opacity: .5;
            transition: .2s;
            cursor: pointer;
        }
    
        .nav-arrow:hover
        {
            opacity: .8;
        }
        
        .nav-arrow .fas
        {
            font-size: 25.5px;
        } */
        
    
/*---------------------------------------------  MEDIA QUERIES    */

/*      Tablet     */
        @media only screen and (max-width: 768px) {

            .location-headline
            {
                margin-top: 15%;
                color: #fafafa;
            }

            .main-cont
            {
                height: auto;
            }

            /* .fjalsdjlaslakjhglkjahgkljhasgjhksjhgjtrtgs
            {
                position: fixed;
                top: 82%;
                padding: 0 3%;
            } */
        }
        
        
/*      Mobile Phone       */
        @media only screen and (max-width: 576px) {
            
            .location-headline
            {
                margin-top: 15%;
                font-size: 2.5em;
            }
            
            .location-cards-row
            {
                flex-wrap: wrap;
            }
            
            .location-card-cont
            {
                height: auto;
                margin: 5px;
            }
            
            .location-cards-cont
             {
                 justify-content: center
             }
        }
        
        